.menu {
  display: flex;
  margin: 0 30px;
  padding-top: 5px;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: rem(42px);
  }
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}
