.phone-number {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;

  &__icon {
    width: rem(14px);
    height: rem(14px);
  }
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}