.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;
  justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(58px);
  text-transform: uppercase;
  margin-bottom: rem(50px);
  text-align: center;
  color: #000;
}